<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:task="http://www.springframework.org/schema/task"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.1.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
         http://www.springframework.org/schema/task
		 http://www.springframework.org/schema/task/spring-task-3.1.xsd">
	
	<!-- 引入外部配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	 
	
	<!-- 配置连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass"  value="${jdbc.driverClass}"/>
		<property name="jdbcUrl"  value="${jdbc.url}"/>
		<property name="user"  value="${jdbc.username}"/>
		<property name="password"  value="${jdbc.password}"/>		
	</bean>
	
	<!-- 配置hibernate相关属性-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置相关属性-->
		<property name="hibernateProperties">
			<props >
			   <!-- <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop> -->
			   <prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				
				<prop key="hibernate.format_sql">true</prop>
			<!--	<prop key="hibernate.hbm2ddl.auto">update</prop>-->
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
			</props>
		</property>
		<!-- 加载hibernate的映射文件-->
		<property name="mappingResources">
			<list>
				<value>com/imooc/employeeManager/entity/Department.hbm.xml</value>
				<value>com/imooc/employeeManager/entity/Employee.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	
	
	<!-- 配置action -->	
	<!-- struts创建会自动注入，spring创建action要手动注入-->	
	<bean id="employeeAction" class="com.imooc.employeeManager.action.EmployeeAction" scope="prototype">
		<property name="employeeService" ref="employeeService"/>
		<property name="departmentService" ref="departmentService"/>	
	</bean>
	
	<bean id="departmentAction" class="com.imooc.employeeManager.action.DepartmentAction" scope="prototype">
		<property name="departmentService" ref="departmentService"/>	
	</bean>
	 <!-- 配置DAO -->	
	<bean id="employeeDao" class="com.imooc.employeeManager.dao.impl.EmployeeDaoImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>	
	</bean>
	
	<bean id="departmentDao" class="com.imooc.employeeManager.dao.impl.DepartmentDaoImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>	
	</bean>
	
	<!-- 配置service -->	
	<bean id="employeeService" class="com.imooc.employeeManager.service.impl.EmployeeServiceImpl">
		<property name="employeeDao" ref="employeeDao"/>	
	</bean>
	<bean id="departmentService" class="com.imooc.employeeManager.service.impl.DepartmentServiceImpl">
		<property name="departmentDao" ref="departmentDao"/>	
	</bean>
	
	<!-- 配置事务管理bean -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事事务-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	

</beans>
